body {
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        background: #fff;
        color: #111;
        margin: 32px;
}

.container {
        max-width: 920px;
        margin: 18px auto;
        border: 3px solid #000;
        padding: 26px 28px;
        box-sizing: border-box;
        align-items: center;
        font-family: Arial, sans-serif;
        font-weight: bold;
}

.container-line{
        position: relative;
                flex-grow: 1;
                height: 2px;
                background-color: black;
        }

.title {
        margin: 0 0 12px 0;
        font-weight: 600;
        font-size: 20px;
}


.form-grid {
        display: grid;
        grid-template-columns: 220px 1fr;
        grid-column-gap: 18px;
        grid-row-gap: 16px;
        align-items: start;
}

label {
        display: block;
        padding-top: 6px;
        font-size: 15px;
}

.field {
        width: 100%;
}


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="time"],
input[type="date"],
select,
textarea {
        width: 100%;
        padding: 8px 10px;
        border: 1px solid #000;
        font-size: 14px;
        box-sizing: border-box;
}

select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, #000 50%),
                linear-gradient(135deg, #000 50%, transparent 50%);
        background-position: calc(100% - 18px) calc(1em + 2px), calc(100% - 13px) calc(1em + 2px);
        background-size: 6px 6px, 6px 6px;
        background-repeat: no-repeat;
        padding-right: 36px;
}

textarea {
        min-height: 120px;
        resize: vertical;
}

.radio-group {
        display: flex;
        gap: 18px;
        align-items: center;
}

.radio-item input[type="radio"] {
        margin-right: 6px;
}

.date-group {
        display: flex;
        gap: 12px;
        align-items: center;
}

.time-input { width: 120px; }
.date-input { width: 220px; }

.buttons {
        margin-top: 10px;
        display: flex;
        gap: 20px;
}

.btn {
        padding: 8px 18px;
        border: 2px solid #000;
        background: #f40404;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 2px 2px 0 rgba(0,0,0,0.12);
        border-radius: 10%;
}

.btn.primary {
        background: #38fc02;
}

.btn:active {
        transform: translateY(1px);
}

@media (max-width: 680px) {
        .form-grid { grid-template-columns: 1fr; }
        label { padding-top: 10px; }
        .buttons { justify-content: flex-start; }
}